# Build results
bin/
obj/
publish/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/

# User-specific
*.rsuser

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Backup files
*.swp
*~
